<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{activeFreezer===undefined?'Freezer':activeFreezer.name}}</span>
  <button class="menu-button" *ngIf="activeFreezer!==undefined" mat-icon-button [matMenuTriggerFor]="freezermenu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #freezermenu="matMenu">
    <button mat-menu-item (click)="editFreezerName()">
      <mat-icon>edit</mat-icon>
      <span>Rename Freezer</span>
    </button>
    <button mat-menu-item class="delete" (click)="deleteFreezer()">
      <mat-icon class="delete">delete_forever</mat-icon>
      <span>Delete Freezer</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-drawer-container class="drawer-container">
  <mat-drawer #drawer class="sidenav" mode="over">
    <mat-nav-list class="sidebar-navigation-list">
      <mat-list-item [ngClass]="{'active-nav-item': freezer===activeFreezer}" (click)="setActiveFreezer(freezer)"
        *ngFor="let freezer of freezers">{{freezer.name}}
      </mat-list-item>
      <mat-list-item (click)="createNewFreezer()">Add Freezer</mat-list-item>
    </mat-nav-list>
  </mat-drawer>
  <div class="sidenav-content" *ngIf="activeFreezer!==undefined">
    <mat-card class="freezer-slot-card" *ngFor="let freezerSlot of activeFreezer.slots ;let i=index">
      <mat-card-header>
        <mat-card-title class="freezer-slot-title">{{freezerSlot.name}}
          <button class="menu-button" mat-icon-button [matMenuTriggerFor]="slotmenu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #slotmenu="matMenu">
            <button mat-menu-item (click)="editFreezerSlotName(freezerSlot)">
              <mat-icon>edit</mat-icon>
              <span>Rename Freezer Slot</span>
            </button>
            <button mat-menu-item class="delete" (click)="deleteSlot(freezerSlot)">
              <mat-icon class="delete">delete_forever</mat-icon>
              <span>Delete Freezer Slot</span>
            </button>
          </mat-menu>
        </mat-card-title>
        <mat-card-subtitle class="freezer-slot-number">{{i+1}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="freezerSlot.frozenItems.length>0" class="freezer-slot-frozen-items">
        <table mat-table [dataSource]="dataSources[i]" class="mat-elevation-z8">

          <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

          <!-- Name Column -->
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef> Name </th>
            <td mat-cell *matCellDef="let element"> {{element.name}} </td>
          </ng-container>

          <!-- Quantity Column -->
          <ng-container matColumnDef="quantity">
            <th mat-header-cell *matHeaderCellDef> Quantity </th>
            <td mat-cell *matCellDef="let element">
              <button [ngClass]="{'delete': element.quantity===1}" mat-icon-button
                (click)="reduceQuantity(freezerSlot,element)">
                <mat-icon>remove_circle_outline</mat-icon>
              </button>
              {{element.quantity}}
              <button mat-icon-button (click)="increaseQuantity(freezerSlot,element)">
                <mat-icon>add_circle_outline</mat-icon>
              </button>
            </td>
          </ng-container>

          <!-- Edit Column -->
          <ng-container matColumnDef="edit">
            <th mat-header-cell *matHeaderCellDef> Edit </th>
            <td mat-cell *matCellDef="let element">
              <button mat-icon-button [matMenuTriggerFor]="itemmenu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #itemmenu="matMenu">
                <button mat-menu-item (click)="editFrozenItemName(freezerSlot,element)">
                  <mat-icon>edit</mat-icon>
                  <span>Rename Frozen Item</span>
                </button>
                <button mat-menu-item class="delete" (click)="deleteItem(freezerSlot,element)">
                  <mat-icon class="delete">delete_forever</mat-icon>
                  <span>Delete Frozen Item</span>
                </button>
              </mat-menu>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>



      </mat-card-content>
    </mat-card>
    <mat-card class="new-freezer-slot-card">
      <button mat-icon-button (click)="createNewFreezerSlot()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card>
    <button class="floating-action-button" (click)="createNewFrozenItem()" mat-fab>
      <mat-icon>add</mat-icon>
    </button>
  </div>
</mat-drawer-container>