.drawer-container {
  min-height: 100%;
}
.active-nav-item {
  background-color: #ccc;
}
.floating-action-button {
  position: fixed;
  z-index: 1;
  right: 0;
  bottom: 0;
  margin: 1rem;
}
mat-card {
  margin: 1rem;
}
table {
  width: 100%;
}
.new-freezer-slot-card {
  display: flex;
  justify-content: center;
}
.mat-drawer {
  min-width: 300px;
}
.delete {
  color: #f00;
}
