<h1>Create new Frozen Item</h1>
<div mat-dialog-content>
    <p>How should the new frozen item be called?</p>
    <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput [(ngModel)]="data.name" [formControl]="nameFormControl" [errorStateMatcher]="nameMatcher">
        <mat-error *ngIf="nameFormControl.hasError('required')">
            Name is <strong>required</strong>
        </mat-error>
    </mat-form-field>
    <p>How many are stored?</p>
    <mat-form-field>
        <mat-label>Quantity</mat-label>
        <input type="number" matInput [(ngModel)]="data.quantity" [formControl]="quantityFormControl"
            [errorStateMatcher]="quantityMatcher">
        <mat-error *ngIf="quantityFormControl.hasError('min')">
            Quantity must be <strong>positive</strong>
        </mat-error>
    </mat-form-field>
    <p>In which slot is the frozen item stored?</p>
    <mat-form-field>
        <mat-label>Slot</mat-label>
        <mat-error *ngIf="slotFormControl.hasError('required')">
            Slot is <strong>required</strong>
        </mat-error>
        <mat-select [(value)]="data.slot" [formControl]="slotFormControl" [errorStateMatcher]="slotMatcher">
            <mat-option *ngFor="let slot of slots" [value]="slot">
                {{slot.name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Cancel</button>
    <button mat-button
        [disabled]="nameFormControl.hasError('required')||slotFormControl.hasError('required')||quantityFormControl.hasError('min')"
        [mat-dialog-close]="data">Create</button>
</div>